<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Contact Us!</title>
</head>

<body class="help-img">
    <div class='header'>
        <h1>Send us a note, a question, a feedback, {{user.first_name}}!</h1>
        <div class="nav-bar">
            <a class="b-menu" href="/home">Go Back</a>
            <a class="b-menu" href="/logout">Log Out</a>
        </div>
    </div>

    <div class='right_half'>

        {% for message in messages %}
        <p class="error-messages">{{ message }}</p>
        {% endfor %}
        <form class="form-help" action='help/done' method="POST">
            {% csrf_token %}
            <div>
                <label>Title: </label>
                <div>
                    <input class="un1" type='textarea' name='title'>
                </div>
                <div>
                    <label>Content: </label>
                </div>
                <div>
                    <textarea class="un1" name="q_text" cols="30" rows="6"></textarea>
                </div>
                <button class="submit">Submit</button>
            </div>
        </form>
    </div>

</body>

</html>