<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Invitation</title>
</head>

<body>

    <div class='header'>
        <h1>Invite your neighbors!</h1>
        <div class="nav-bar">

            <a class="b-menu" href="/home">Go Back</a>
            <a class="b-menu" href="/logout">Log Out</a>
        </div>
    </div>
    <div class='left_half'>

            {% if messages %}
            <ul class="error-messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
                <h2>Your neighbor's information:</h2>
                <form class="form1" action="invite/done" method="POST">
                    {% csrf_token %}
                    <div class="invite">
                        <label for="first_name">First Name: </label>
                        <input class="un4" type="text" name="first_name">
                    </div>
                    <div class="invite">
                        <label for="last_name">Last Name: </label>
                        <input class="un4" type="text" name="last_name">
                    </div>
                    <div class="invite">
                        <label for="email">Email: </label>
                        <input class="un4" type="email" name="email">
                    </div>
                    <div class="invite">
                        <label for="street_address">Street Address: </label>
                        <input class="un4" type="text" name="street_address">
                    </div>
                    <div class="invite">
                        <label for="zip_code">Zip Code: </label>
                        <input class="un4" type="text" name="zip_code">
                    </div>
                    <button class="submit" >Send invite!</button>
                </form>
            </div>


            
        </div>
    </div>

</body>

</html>