<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
</head>

<body>

    <div class='main'>

        <p class='sign'>Sign in</p>
        {% if messages %}
        <ul class="error-messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form class="form1" action="/login" method="POST">
            {% csrf_token %}
            <div>
                <input class="un" type="email" name="email" type="text" placeholder="email">
            </div>
            <div>
                <input class="un" type="password" name="password" placeholder="password">
            </div>
            <button class="submit">Sign in</button>
        </form>
        <!-- <button><a href="/password_page">Forgot Password</a></button> -->
        <div>
            <a class="back" href="/">Back</a>
        </div>

    </div>

</body>

</html>