<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
</head>

<body>
    <h1>Your feedback is important!</h1>
    <h1>Do you have another question/feedback?</h1>
    <button><a href="/help">Yes!</a></button>
    <button><a href="/home">No</a></button>
    <button><a href="/logout">Log Out</a></button>
</body>

</html>